*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.txt{
    border: solid saddlebrown;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    background-color: aquamarine;
}

.txt:hover{
    background-color: black;
    color: bisque;
    font-size: 45px;
    transition: .5s;
}